@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    display: flex;
    height: 40%;
    width: 100%;
    padding: 0px;
    
  }
body {
    background-color: #d8c6ed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 40%;
}

.faq-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.star {
    color: #7a10ff;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.faq .question {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    cursor: pointer;
}

.faq .question h3 {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq .question p {
    font-size: 14px;
    color: #666;
    display: none;
}

.faq .question.active p {
    display: block;
}

span {
    font-size: 18px;
    font-weight: bolder;
    color: white;
    background-color: #7a10ff;
    border-radius: 50%;
    
}
samp{
    color: black;
}
small{
    color: white;
    background-color: black;
    border-radius: 50%;
    font-size: 18px;
    
}