* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #19c47c;
}

.container {
    display: flex;
    gap: 10px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box {
    padding: 80px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

.box:nth-child(1) {
    background: #ff5733;
}

.box:nth-child(2) {
    background: #33b5ff;
}

.box:nth-child(3) {
    background: #33ff77;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 100%;
        padding: 80px;
    }
}

   /* Telas menores que 300px: Layout fluido */
   @media screen and (max-width: 300px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .box {
        width: 100%;
        padding: 15px;
        font-size: 16px;
    }
}